* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Roboto"  ;
}
.continer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}
/* first section style */
nav  {
    display: flex;
    justify-content: flex-end;

}
nav i {
    font-size: 30px;
    width: 60px;
    color: rgb(126, 122, 122);
    border-radius: 60px;
    padding: 18px;
    box-shadow: 0 0 2px #888;
}
.first-section{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    margin-bottom: 15px;
        color: rgb(126, 122, 122);
}
.mainimg{
    width: 250px;
    height: 250px;
    
    border-radius:50%;

}
.text{
width: 280px;
padding-top: 10px;
display: flex;
flex-direction: column;
justify-content: center;
}
.text h2{
    font-size: 35px;
    padding-bottom: 30px;
    color: rgb(29, 29, 29);
}
.text p{
    line-height: 1.5;
}
   /* start section two */
   .section-two{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f2e6d4;
}
.section-two .intro-text{
    text-align: center;
    max-width: 100%;
    
    }
    .section-two .intro-text h3{
    font-weight: bold;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    }
    .section-two  p{
        font-size: 15px;
        line-height: 1.5;
        color: rgb(126, 122, 122);
    }
    .icons i{
        margin: 10px;
        color: rgb(126, 122, 122);
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 110px;
    border-radius: 60px;
    padding: 29px;
    box-shadow: 0 0 2px #888;
    
    }
    .icons {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    
    }
    .text2{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .text2 p{
        margin-left: 45px;
        margin-right: 45px;
        word-wrap: normal;
    }
    button{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 140px;
        border-radius: 15px;
        height: 35px;
        background-color: #f2e6d4;
        color: #4a4949;
        letter-spacing: 2px;
    }
        /* start section three */

        .section-three {
            text-align: center;
            padding-bottom: 30px;
            padding-top: 20px;
            }
            .section-three  h3{
            font-weight: bold;
            font-size: 25px;
            padding-top: 30px;
            padding-bottom: 30px;
            
            }
            .section-three p{
                font-size: 15px;
                line-height: 1.5;
                color: rgb(126, 122, 122);
            }
            .folwer-img{
                width: 49%;
                height:400px
            }
            .section-three1{
                display: flex;
                justify-content: space-between;
            margin-top: 30px;
            margin-bottom: 30px;
            }
            .section-three1 .intro-text {
                width: 49%;
                height:400px;
                padding-left: 20px;
                line-height: 1.5;
            }
            .section-three1 .intro-text h3 {
        margin-top: 20px;
        margin-bottom: 20px;
            }
            .section-three1 p{
                font-size: 15px;
                line-height: 2;
                color: rgb(126, 122, 122);
            }
            .section-three1 img{
                border-radius: 20px;
            }
    
            /* responsive tablet */
            @media screen and (max-width: 1023px) and (min-width: 768px) {
                .continer{
            width: 970px;}
            }
            /* responsive phone */
            @media screen and (max-width: 767px){
                .continer{
            width: 500px;}
            .first-section{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-content: center;
                
            
            }
            .icons{
                flex-wrap: wrap;
    
            }
            .section-three1{
                flex-wrap: wrap;
                flex-direction: column-reverse;
            }
            .section-three1 .intro-text , .contact ,.text2{
                width: 100%;
            }
            .folwer-img{
                width: 100%;
            padding-bottom: 20%;}
            .section-five{
                flex-direction: column;
                flex-wrap: wrap;
            }
            .reverse{
                flex-direction: column-reverse; 
             }
            } 
    